body{
    background-color: black;
}

.container{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.col-3{
   margin-left: 0px;
   margin-right: 0px; 
}

.profile-picture{
    max-width: 450px;
}

#propic{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 200px;
    min-height: 200px;
    max-height: 200px;
    max-height: 200px;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    border-color: #7dfdfe;
    box-shadow: 0 0 10px 2px #7dfdfe;
}

.biocard{
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #7dfdfe;
    box-shadow: 0 0 10px 2px #7dfdfe;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    text-align: center;
    max-width: 450px;
    min-height: 150px;
    font-size: x-large;
    padding: 10px;
}

/* .usernamecard{
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #7dfdfe;
    box-shadow: 0 0 10px 2px #7dfdfe;
    font-family: 'Permanent Marker', cursive;
    color: #FF66C4;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
} */

#Search{
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #7dfdfe;
    box-shadow: 0 0 10px 2px #7dfdfe;
    font-family: 'Permanent Marker', cursive;
    color: #FF66C4;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
    background-color: black;
    font-size: 20px;
}

.repowallcard{
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #7dfdfe;
    box-shadow: 0 0 10px 2px #7dfdfe;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    min-height: 500px;
    padding: 10px;
}

#SearchButton{
    width:100%;
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #7dfdfe;
    box-shadow: 0 0 10px 2px #7dfdfe;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    background-color: black;
    padding: 10px;
    margin-bottom: 35px;
}