body{
    background-color: black;
}

#SearchHomieBTN{
    background-color: #FF66C4;
    box-shadow: 0 0 10px 2px #FF66C4;
    outline: none;
    color: white;
    
}

#SearchHomieBTN:hover{
    background-color:  #7dfdfe;;
    color: white;
    box-shadow: 0 0 10px 2px #7dfdfe;
}


.card{
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #7dfdfe;
    box-shadow: 0 0 10px 2px #7dfdfe;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    background-color: black;
    width:100%;
    justify-content: center;
    margin-bottom: 30px;
    padding: 10px;
}

/* body{
    /* background-color: black; 
}*/



#homieavatar{
    
    max-width:100%;
    max-height:100%;
    height: 200px;
    width: 200px;
   
}

.container{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
}

.wall{
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    border-color: #7dfdfe;
    box-shadow: 0 0 10px 2px #7dfdfe;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    background-color: black;
    overflow: auto;
    height: 725px; 
    padding: 10px;
    margin-right: 0px;
}

.col-3{
    padding-top: 5px;
}

.col-9{
    padding-top: 5px;
    height:100%;
}

.card-body{
    justify-content: center;
    align-items: center;
}


.card-title{
    justify-content: center;
    text-align: center;
}
.card-subtitle{
    justify-content: center;
    text-align: center;
}

#usernamebtn,th,td,.homie-found, .add-friend{
    color:#FF66C4;
    font-family: 'Permanent Marker', cursive;
}

#usernamebtn:hover{
    background-color:  #7dfdfe;;
    color: white;
    box-shadow: 0 0 10px 2px #7dfdfe;
}

#GitHub-Search{
    outline: none;
    color: #FF66C4;
    align-items: center;
}

#GitHub-Search:hover{
    background-color:  #7dfdfe;;
    color: white;
    box-shadow: 0 0 10px 2px #7dfdfe;
}

#GitLab-Search{
    outline: none;
    color: #FF66C4;
    align-items: center;
}

#GitLab-Search:hover{
    background-color:  #7dfdfe;;
    color: white;
    box-shadow: 0 0 10px 2px #7dfdfe;
}
.gitlabHovered, .githubHovered{
    background-color:  #7dfdfe;;
    color: white;
    box-shadow: 0 0 10px 2px #7dfdfe;
}
.homie-found, .add-friend{
    background-color:  #7dfdfe;;
    color: black;
    box-shadow: 0 0 10px 2px #7dfdfe; 
}


footer{
   text-align: center;
    font-family: 'Permanent Marker', cursive;
    color:#FF66C4;
    margin: 10px;
}